<%= form_with(model: ad, local: true) do |form| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
<div class="col s12">
<div class="row">
<div class="input-field col s6">
    <%= form.text_field :title, class: 'validate' %>
 <%= form.label :title %>
  
  </div>

  <div class="input-field col s6">
  
    <%= form.label :price %>
    <%= form.text_field :price, class: 'validate' %>
  
  </div>
  </div>
<div class="row">
  <div class="input-field col s6">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'materialize-textarea'%>
  </div>

  <div class="input-field col s6">
    <%= form.label :city %>
    <%= form.text_field :city, :value => current_user.city %>
  </div>
  </div>
<div class="row">
  <div class="input-field col s6">
    <%= form.label :postal %>
    <%= form.text_field :postal %>
  </div>

  <div class="input-field col s6">
   
    <%= form.select :province, options_for_select(can_prov, selected: current_user.province)  %>
     <%= form.label :province %>
  </div>
  </div>
<div class="row">

   <div class="file-field input-field col s6">
      <div class="btn">
        <span>File</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more pictures">
      </div>
    </div>

  <div class="input-field col s6">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  </div>
 </div>

  

  <div class="actions">
  <%= button_tag :submit, class:'btn waves-effect waves-light left' do %>
     <i class="material-icons right">create</i>create ad
  <% end %>
    
  </div>
<% end %>
