<p id="notice"><%= notice %></p>
<div class="row">
<div class="col m6">
<h1>Ads</h1>
</div>
<div class="col m6"><%= link_to 'New Ad', new_ad_path, class: 'add_ad' %>
</div>
</div>


<div class="row">
 <div class="col m3 hide-on-small-only">
   <%= render partial: "sidebar" %>
    </div>
<div class="col m9 s12">
    <% @ads.each do |ad| %>
    <div class="col s12 ad_index">
    <div class="col s8">
    <div class="row">
     <h5 class="blue-text text-lighten-3"><%= ad.title %></h5>
     
   <em><%= number_to_currency(ad.price, precision: 2) %></em>
   </div>
   <div class="row">
       
     
        <div class="address"><i class="material-icons">place</i> <%= ad.city %>, <%= ad.province %>,  <%= ad.postal %>
        </div>

        <p><%= ad.description %></p>
        <%= ad.phone %>

        <div class="category">
        <%= ad.category %>
        </div>
        </div>
        </div>
        <div class="col s4">
        <%= display_picture(ad)%>
        
        </div>
        <div class="row">
        <div class="col m12">
        <%= link_to 'View', ad, class: 'waves-effect btn' %>
        </div>
      </div>
     
      
     </div>
     
    <% end %>
   
  </div>
<br>




