<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Price:</strong>
   <%= number_to_currency(@ad.price, precision: 2) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @ad.city %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @ad.postal %>
</p>

<p>
  <strong>Province:</strong>
  <%= @ad.province %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @ad.phone %>
</p>


<h5>This ad was posted by <%= @user.fname %> </h5>



<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
